@font-face {
	font-family: 'roboto';
	src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot');
	src: url('fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
		url('fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
		url('fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: 'roboto', Arial, sans-serif;
	font-weight: bold;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header {
	position: relative;
	margin: 0;
	width: 100%;
}

h1 {
	position: absolute;
	top: 0.5rem;
	left: 7%;
	margin: 0;
	width: 70%;
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
    color: rgb(0,0,0);
}

h3 {
	font-size: 1.3rem;
    color: rgb(0,0,0);
}

h4 {
	margin: 0;
	margin-bottom: 0.3rem;
	margin-left: 1rem;
	text-align: left;
	font-size: 1.2rem;
}

a {
	font-size: 1.2rem;
	color: rgb(115, 115, 115);
}

p {
	font-size: 1.1rem;
	color: rgb(115, 115, 115);
}

ul {
	list-style: none;
	padding: unset;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;	
}

address {
	text-decoration: none;
	font-size: 1.1rem;
}

/* +++++ +++++ +++++ +++++ Navigateur +++++ +++++ +++++ +++++ */

.nav-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

.nav-head figure {
	margin: 1.5rem auto;
}

.nav-head ul {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	width: 70%;
}

.nav-head a {
	padding: 0.6rem 0.5rem;
	text-decoration: none;
}

.nav-head a:hover,
.nav-head a:focus,
.nav-head a:active {
	border-top: 0.2rem solid rgb(90, 170, 210);
	color: rgb(60, 60, 60);
}

/* +++++ +++++ +++++ +++++ Header +++++ +++++ +++++ +++++ */

.slider-wrapper figure {
	position: relative;
	z-index: -10;
	margin: 0;
	width: 100%;
}

.slider-wrapper i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.7rem;
	height: 3.4rem;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.5);
}

.slider-wrapper .fa-angle-left {
	left: 0;
	border-radius: 0 6.8rem 6.8rem 0;
}

.slider-wrapper .fa-angle-right {
	right: 0;
	border-radius: 6.8rem 0 0 6.8rem;
}

.progresse_barre,
.progresse_cursor {
	height: 0.5rem;
}

.progresse_barre {
	position: relative;
	bottom: 0.6rem;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.progresse_cursor {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15%;
	background-color: rgb(70,150,180);
}

h1,
header p,
header a {
	color: rgb(255, 255, 255);
}

h1 strong {
	color: rgb(90, 170, 210);
}

header p {
	width: 45%;
	position: absolute;
	left: 7%;
	top: 3rem;
}

header a {
	position: absolute;
	left: 7%;
	top: 8.2rem;
	border-radius: 0.5rem;
	border-bottom: 0.3rem solid rgb(70, 150, 190);
	padding: 0.3rem;
	padding-bottom: 0.1rem;
	text-align: center;
	text-decoration: none;
	background-color: rgb(90, 170, 210);
}

/* +++++ +++++ +++++ +++++ Nos Services +++++ +++++ +++++ +++++ */

.our-services {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

.our-services h2 {
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}

.our-services  p {
	width: 90%;
    text-align: center;
}

.our-services figure {
	display: none;
}

.our-services ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.services_skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.services_skills h3 {
	width: 50%;
	margin-left: 0;
}

.services_skills i {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30%;
	border: 0.1rem solid rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	color: rgb(90, 170, 210);
}

/* +++++ +++++ +++++ +++++ Portfolio +++++ +++++ +++++ +++++ */

.portfolio-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(195, 195, 195, 0.1);
}

.portfolio-wrapper h2 {
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	color: rgb(0, 0, 0);
}

.portfolio-wrapper p {
	width: 90%;
	text-align: center;
}

/* +++++ Menu de sélection +++++ */

.selector-wrapper {
	width: 100%;
	margin: auto auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.selector-wrapper input,
.menu i,
.pf-projets figure {
	display: none;
}

.menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

nav label {
	position: relative;
	padding: 0.6rem 0.8rem;
	font-size: 1.2rem;
	text-align: center;
	color: rgb(100, 100, 100);
	background-color: rgba(160, 160, 160, 0.3);
}

nav i {
	color: rgb(70, 150, 190);
}

nav label:first-child {
	border-radius: 0.3rem 0 0 0.3rem;
}

nav label:last-child {
	border-radius: 0 0.3rem 0.3rem 0;
}

nav label:hover,
nav label:active,
nav label:focus {
	border-bottom: 0.3rem solid rgb(70, 150, 190);
	padding: 0.5rem 0.8rem;
	background-color: rgb(90, 170, 210);
	color: rgb(255, 255, 255);
}

#all:checked~* #selector_all,
#creative:checked~* #selector_crea,
#corporate:checked~* #selector_corpo,
#portfolio:checked~* #selector_pf {
	border-bottom: 0.3rem solid rgb(70, 150, 190);
	padding: 0.5rem 0.8rem;
	background-color: rgb(90, 170, 210);
	color: rgb(255, 255, 255);
}


#all:checked~* #selector_all i,
#creative:checked~* #selector_crea i,
#corporate:checked~* #selector_corpo i,
#portfolio:checked~* #selector_pf i {
	display: flex;
	position: absolute;
	top: 1.6rem;
	left: 50%;
	transform: translateX(-50%);
}


#all:checked~.pf-projets .all,
#creative:checked~.pf-projets .creative,
#corporate:checked~.pf-projets .corporate,
#portfolio:checked~.pf-projets .portfolio {
	display: block;
}

/* +++++ Portfolio de projets +++++ */

.pf-projets {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.pf-projets figure {
	position: relative;
	width: 100%;
}

.pf-projets figcaption {
	display: none;
	position: absolute;
	bottom: 0.1rem;
	left: 0;
	padding-top: 0.2rem;
	width: 100%;
	height: 4.5rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgb(255, 255, 255);
}

.pf-projets figure:hover figcaption {
	display: block;
}

.pf-projets p {
	margin: 0;
	margin-left: 1rem;
	width: 80%;
	text-align: left;
	color: rgb(255, 255, 255);
}

.pf-projets i {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 50%;
}

/* +++++ +++++ +++++ +++++ Footer / Contact +++++ +++++ +++++ +++++ */

.footer-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1.5rem;
	width: 98%;
}

address {
	margin-bottom: 1.4rem;
	text-align: left;
	text-decoration: none;
}

address a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

address span {
	border-bottom: 0.1rem dotted rgb(0, 0, 0);
}

.infos form {
	width: 80%;
	z-index: 20;
}

form fieldset {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	height: 35rem;
	z-index: 10;
	align-items: center;
}

fieldset * {
	margin-bottom: 0.8rem;
	border-radius: 0.3rem;
	border: 0.1rem solid rgba(115,115,115, 0.5);
}

fieldset input:first-child {
	margin-top: 0.5rem;
}

fieldset input:last-child {
	height: 3rem;
}

fieldset input:nth-child(1),
fieldset input:nth-child(2),
fieldset input:nth-child(3),
fieldset textarea {
	padding-left: 1rem;
	width: 97%;
	height: 3rem;
	vertical-align: middle;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'roboto', Arial, sans-serif;
}

form input#envoyer {

	margin-bottom: 1rem;
	border: unset;
	border-bottom: 0.3rem solid rgb(70, 150, 180);
	background-color: rgb(90, 170, 210);
	color: rgb(255, 255, 255);
	font-weight: bold;
}

form textarea {
	padding-top: 0.6rem;
	height: 13rem;
}

#iframe-wrapper {
	position: relative;
	top: 100%;
	left: 0;
	overflow: hidden;
	width: 100%;
}

.blue_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100rem;
	z-index: 10;
	background-color: rgba(50, 160, 190, 0.2);
}

#iframe-wrapper iframe {
	border: 0;
	width: 100%;
	height: auto;
	min-height: 60rem;
	object-fit: contain;
	border: 0;
}

/* +++++ +++++ +++++ +++++ Items Graphique +++++ +++++ +++++ +++++ */

.services_skills .item_circle {
	position: absolute;
	left: 2.8rem;
	z-index: 10;
	width: 0.7rem;
	height: 0.7rem;
}

.services_skills .item_circle2 {
	position: absolute;
	left: 2.3rem;
	width: 1.4rem;
	height: 1.4rem;
}

.item_bar {
	margin-left: 2%;
	margin-right: 2%;
	width: 2rem;
	height: 0.1rem;
	background-color: rgba(0, 0, 0, 0.15);
}

.item_circle {
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	background-color: rgb(90, 170, 210);
}

.item_circle2 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;	
	width: 1.6rem;
	height: 1.6rem;
	background-color: rgb(255, 255, 255);
}


.item_graphics {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 0.6rem;
	z-index: 0;
	width: 30%;
}

.item_graphics span {
	margin: 0;
}

.item_graphics .item_circle {
	margin: 0 auto;
}

.item_graphics .item_circle2 {
	width: 2rem;
	height: 2rem;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++ +++++ +++++ +++++ +++++ +++++ Médias Queries +++++ +++++ +++++ +++++ +++++ +++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++  Breakpoint à 576px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 576px) {

	h1 {
		top: 3rem;
		left: 7%;
		margin: 0;
		width: 60%;
		font-size: 1.8rem;
	}
	
	h2 {
		font-size: 1.6rem;
	}
	
	h3 {
		font-size: 1.5rem;
	}
	
	h4 {
		margin: 0;
		margin-bottom: 0.3rem;
		margin-left: 1rem;
		font-size: 1.2rem;
	}
	
	a {
		font-size: 1.2rem;
	}
	
	p {
		font-size: 1.3rem;
	}

	address {
		font-size: 1.3rem;
	}

	/* ++++++++++  Navigateur  ++++++++++ */

	.nav-head figure {
		margin-top: 1.5rem;
		margin-left: 5%;
		margin-bottom: 1.5rem;
		width: 40%;
	}

	.nav-head ul {
		justify-content: center;
		margin: 0;
		width: 54%;
	}

	.nav-head a {
		padding: 3.2rem 0.8rem;
	}

	.nav-head a:hover,
	.nav-head a:focus,
	.nav-head a:active {
		border-top: 0.3rem solid rgb(90, 170, 210);
	}

	/* ++++++++++  Header  ++++++++++ */

	.slider-wrapper i {
		font-size: 1.2rem;
	}

	.slider-wrapper .fa-angle-left {
		border-radius: 0 9.2rem 9.2rem 0;
		width: 2.3rem;
		height: 4.6rem;
	}

	.slider-wrapper .fa-angle-right {
		border-radius:  9.2rem 0 0 9.2rem;
		width: 2.3rem;
		height: 4.6rem;
	}

	header p {
		top: 7rem;
		left: 7%;
		width: 45%;
	}

	header a {
		top: 13rem;
		left: 7%;
		width: 8rem;
	}

	/* ++++++++++ NOS SERVICES ++++++++++ */

	.our-services {
		margin-top: 1.5%;
	}

	.our-services p {
		width: 90%;
		text-align: center;
	}

	.our-services figure {
		display: flex;
		justify-content: center;
		width: 70%;
	}

	.our-services ul {
		width: 90%;
	}

    .services_skills p {
		margin-top: 0;
	}

	.services_skills i {
		border: 0.1rem solid rgba(0, 0, 0, 0.15);
		width: 4rem;
		height: 4rem;
		font-size: 2rem;
	}

	/* ++++++++++  PORTFOLIO  ++++++++++ */

    .menu label{
        font-size: 1.3rem;
	}

	.pf-projets {
		flex-direction: row;
		margin-top: 3%;
	}

	.pf-projets figure {
		margin: 0.3rem 0.5rem;
		width: 46%;
	}

	.pf-projets figcaption {
		padding-top: 2%;
		height: 5rem;
		z-index: 10;
	}

	/* ++++++++++  CONTACT  ++++++++++ */

	.footer-wrapper {
		margin-top: 5%;
	}

	.infos {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		top: 2%;
		left: 58%;
		z-index: 20;
		width: 40%;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.infos h2,
	address {
		align-self: flex-start;
		margin-left: 1.2rem;
	}

	.infos form {
		position: unset;
		width: 97%;
	}

	section fieldset {
		border: unset;
		height: 35rem;
	}

	fieldset textarea {
		height: 18rem;
	}

	fieldset input:last-child {
		align-self: flex-start;
	}

	/* ++++++++++  Items Graphiques  ++++++++++ */

	.services_skills .item_circle {
		left: 3.7rem;
		width: 1rem;
		height: 1rem;
	}
	
	.services_skills .item_circle2 {
		left: 3.2rem;
		width: 1.6rem;
		height: 1.6rem;
	}

}

/* ++++++++++++++++++++++++++++  Breakpoint à 768px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 768px) {

	h1 {
		top: 5rem;
		left: 13%;
		width: 40rem;
		font-size: 2rem;
	}
	
	h2 {
        font-size: 1.8rem;
	}

	h3 {
        font-size: 1.7rem;
	}

	h4 {
        font-size: 1.6rem;
	}

	a {
       font-size: 1.3rem;
	}

	p {
       font-size: 1.4rem;
	}

	/* ++++++++++  NAVIGATEUR  ++++++++++ */

    .nav-head figure {
        margin-left: 13%;
	}

	.nav-head ul {
		margin-right: 10rem;
		width: 20rem;
	}

	.nav-head a {
		padding: 3.4rem 0.8rem;
	}
	/* ++++++++++  HEADER  ++++++++++ */

	.slider-wrapper i {
		font-size: 1.4rem;
	}

	.slider-wrapper .fa-angle-left {
		border-radius: 0 10.4rem 10.4rem 0;
		width: 2.6rem;
		height: 5.2rem;
	}

	.slider-wrapper .fa-angle-right {
		border-radius: 10.4rem 0 0 10.4rem;
		width: 2.6rem;
		height: 5.2rem;
	}

	header p {
		top: 9rem;
		left: 13%;
	}

	header a {
		top: 15rem;
		left: 13%;
	}	

	/* ++++++++++ NOS SERVICES ++++++++++ */

	.our-services {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 1%;
	}

	.our-services .item_graphics {
		width: 30%;
	}

	.our-services  p {
		width: 75%;
	}

	.our-services figure {
		margin: 0;
		width: 43%;
	}

	.our-services ul {
		margin-right: -5%;
		padding: unset;
		width: 30%;
	}

    .services_skills {
		position: relative;
	}

	.services_skills h3 {
		margin-left: 15%;
		margin-bottom: 0;
		width: 50%;
	}

	.services_skills p {		
		margin-left: 32.5%;
		text-align: justify;
	}

	.services_skills i {
		position: absolute;
		top: 10%;
		left: -5rem;
	}

	/* ++++++++++  PORTFOLIO  ++++++++++ */

	.pf-projets {
		margin: 1.5rem auto;
		justify-content: space-around;
	}

    .pf-projets figure {
		margin: 1.6rem auto;
	}

    .pf-projets figcaption{
		padding-top: 3%;
		height: 6rem;
	}

	.pf-projets i{		
		display: flex;
		justify-content: center;
		align-items: center;
		top: -2rem;
		left: 85%;
		border: 0.2rem solid rgb(255, 255, 255);
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		color: rgb(255, 255, 255);
		background-color: rgb(70,150,180);
		font-size: 1.6rem;
	}

	/* ++++++++++  CONTACT  ++++++++++ */

    .infos {
		height: 48rem;
	}

	.infos h2,
	address {
		margin-left: 1.6rem;
	}

	fieldset input {		
        height: 1.6rem;
	}

}

/* ++++++++++++++++++++++++++++  Breakpoint à 992px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 992px) {

    h1 {
		top:30%;
		left: 14%;
	}

	/* ++++++++++  NAVIGATEUR  ++++++++++ */

	.nav-head ul {
		margin-right: 17%;

	}

	/* ++++++++++  HEADER  ++++++++++ */

	.slider-wrapper .fa-angle-left {
		width: 30px;
		height: 60px;
		border-radius: 0 120px 120px 0;
	}

	.slider-wrapper .fa-angle-right {
		width: 30px;
		height: 60px;
		border-radius: 120px 0 0 120px;
	}

	header p {
		width: 50%;
		top: 40%;
		left: 14%;
	}

	header a {
		top: 52%;
		left: 14%;
	}

	/* ++++++++++ NOS SERVICES ++++++++++ */

	.services_skills i {
		top: 17%;
		left: -7rem;
		width: 6rem;
		height: 6rem;
		font-size: 3.2rem;
	}

	/* ++++++++++  PORTFOLIO  ++++++++++ */

	.pf-projets figure {
		width: 32%;
		margin: 0.6rem auto;
	}

	.pf-projets i {
		left: 80%;
	}

	/* ++++++++++  CONTACT  ++++++++++ */

	.infos {
		width: 30%;
		left: 60%;
		height: 50rem;
	}

    form fieldset {
		height: 37rem;
	}

/*	++++++++++ Items Graphique ++++++++++ */

	.services_skills .item_circle {
        left: 5.5rem;
	}

	.services_skills .item_circle2 {
        left: 5.3rem;
	}
}

/* ++++++++++++++++++++++++++++  Breakpoint à 1200px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 1200px) {

    h1 {
		top: 23%;
		left: 16%;
		width: 65rem;
		font-size: 3.4rem;
	}

	h2 {
		font-size: 4rem;
	}

	h4 {
		margin-top: -0.5rem;
		margin-bottom: 1rem;
	}

	/* ++++++++++  NAVIGATEUR  ++++++++++ */

    .nav-head figure {
		margin-left: 16%;
	}

	.nav-head ul {
		margin-right: 20%;
	}

	.nav-head a {
		padding: 3.4rem 1.6rem;
	}

	.nav-head a:hover,
	.nav-head a:focus,
	.nav-head a:active {
		border-top: 0.5rem solid rgb(90, 170, 210);
	}	

	/* ++++++++++  HEADER  ++++++++++ */

    .slider-wrapper img{
		max-width: unset;
		width: 100%;
	}

    .slider-wrapper i {
		font-size: 2.8rem;
	}

	.slider-wrapper .fa-angle-left {
		width: 40px;
		height: 80px;
		border-radius: 0 160px 160px 0;
	}

	.slider-wrapper .fa-angle-right {
		width: 40px;
		height: 80px;
		border-radius: 160px 0 0 160px;
	}

	header p {
		top: 40%;
		left: 16%;
	}

	header a {
		top: 55%;
		left: 16%;
		padding-top: 1.4rem;
		width: 12rem;
		height: 3rem;
		font-size: 1.7rem;
	}

	/* ++++++++++ NOS SERVICES ++++++++++ */

	.our-services figure {
		width: 40%;
	}

	/* ++++++++++  PORTFOLIO  ++++++++++ */

    .menu {
		width: 100%;
	}

	.menu label {
		padding: 1.1rem 1.4rem;
	}

	.menu label:active,
	.menu label:focus,
	.menu label:hover {
		padding: 1rem 1.3rem;
	}

	#all:checked ~ * #selector_all, 
	#creative:checked ~ * #selector_crea, 
	#corporate:checked ~ * #selector_corpo, 
	#portfolio:checked ~ * #selector_pf {
		padding: 1rem 1.3rem;
	}

	#all:checked ~ * #selector_all i, 
	#creative:checked ~ * #selector_crea i,
	#corporate:checked ~ * #selector_corpo i, 
	#portfolio:checked ~ * #selector_pf i {
		top: 2.8rem;
	}

	.pf-projets figure {
		width: 23%;
	}

	.pf-projets figcaption {
		height: 23%;
		padding-top: 7.5%;
	}

	.pf-projets i {
		right: 3%;
		bottom: 60%;
	}

	/* ++++++++++  CONTACT  ++++++++++ */

	.infos {
		width: 36rem;
		height: 52.7rem;
		left: 70%;
	}

	.infos h2 {
		font-size: 2.3rem;
	}
	section fieldset {
		height: 380px;
	}

	fieldset textarea {
		height: 200px;
	}

	/* ++++++++++  Items Graphiques  ++++++++++ */

	.item_bar {
		width: 60px;
	}
}